// colors

$danger-color: #B0413E;
$success-color: #0abd51;
$details-color: #256EFF;
$dark-color: #4B5358;
$dark-color-opposite: #A0A2A4;
$light-color: #fff;


// spaces

$s1: .5rem;
$s2: 1rem;
$s3: 2rem;

// breakpoints

$mobile: 480px;
$tablet: 720px;
$laptop: 960px;
$desktop: 1200px;