// colors

$main-color: red;
$danger-color: #F25F5C;
$success-color: #06D6A0;
$details-color: #256EFF;
$dark-color: #4B5358;

$light-color: #fff;


// spaces

$s1: .5rem;
$s2: 1rem;
$s3: 2rem;

// breakpoints

$mobile: 480px;
$tablet: 720px;
$laptop: 960px;
$desktop: 1200px;